<h2>Tạo Role</h2>

<form method="post">

    <div class="mb-3">
        <label>Tên Role</label>
        <input type="text"
               name="roleName"
               class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">
        Tạo Role
    </button>

</form>