@model List<Order>

<h2>Quản lý đơn hàng</h2>

<table class="table">

    <tr>
        <th>ID</th>
        <th>Ngày</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Id</td>

            <td>@item.OrderDate</td>

            <td>@item.TotalPrice</td>

            <td>@item.Status</td>

        </tr>
    }

</table>